	/*整个页面格式设置*/
	body,ul,li,a{
	padding:0;
	margin:0 auto;
	}
	body{
		background-image:url(../image/index04.jpg);
		background-repeat:no-repeat;
		background-attachment: fixed;
		background-size:cover;
	}
	
	/*最大的div盒子的格式设置*/
	#container{
		float:none;
		width: 960px;
		margin: 0 auto;
		background-color:rgba(255,255,255,0.40);
	}
	#container h1{
	text-align:center;
    vertical-align:middle;
	font-size:30px;
	}
	
	/*右上角回到首页的格式设置*/
	#lan{
		float: right;
		font-size:15px;
		margin-top: 15px;
		margin-right: 20px;
		font-family: "宋体";
		}
	#lan a:link,#lan a:visited{
		color: #000000;
		text-decoration: none;
	}
	#lan a:hover{
	    color:rgba(50,100,300,1.00);
	    text-decoration: none;
	    font-size:18px;   	
	}
	
	
	/*选择栏的格式设置*/
	#nav1 ul{
		list-style: none;
		float: left;
		
	}
	#nav1 ul li{
		display: inline-block;
		padding: 0;
	}
	#nav1 ul a:link,#nav1 ul a:visited{
		text-decoration: none;
	    color: rgba(255,255,255,1.00);
	    display: block;
		text-align: center;
		font-size: 18px;
		height: 50px;
		width: 188px;
		font-family:"黑体";
		line-height: 50px;
		background-color:rgba(100,200,300,1.00);
		border-bottom: solid 2px rgba(100,200,300,1.00);
		}
	#nav1 ul a:hover{
		background-color:rgba(50,100,300,1.00);
		border-bottom: solid 2px rgba(100,200,300,1.00);
		}
		
	/*左边固定的跳转栏的格式设置*/
	#nav2{
		width: 200px;
		float: left;
		margin-top: 75px;
		position: fixed;
		}
	#nav2 ol{
		list-style: none;
	}
	#nav2 ol li{
		border-left: 6px solid rgba(100,200,300,1.00);
		line-height: 2;
		border-bottom:1px solid #F0F0F0;
	}
	#nav2 ol li a{
	    text-decoration: none;
		list-style: none;
		font-size: 18px;
		font-family:"黑体";
		color:rgba(0,0,0,0.9);
	}
	#nav2 ol li:hover,#nav2 ol li:visited{
		background-color: rgba(50,100,300,1.00);
		border-left-color:rgba(100,200,300,1.00) ;
		color: rgba(255,255,255,1.00);
	}
	
	/*设置图片位置*/
	.fl{float: left;}
	.fr{float: right;}
	
	/*span，控制固定跳转栏的格式和位置*/
	.number{
		display: inline-block;
		width: 15px;
		margin-right:20px;
		margin-left: 25px;
	}
	
	/*正文格式设置*/
	.txt{
		float: right;
		font-family: "微软雅黑", "黑体", "宋体";
	    width: 720px;
		margin: 0 auto;
		
    }
	.txt p{text-indent: 2em;}
	
	
	/*清除浮动*/
	.clearfix:after{
	content:".";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
    }
	
	
	/*图片格式设置*/
	#grow{
		margin-bottom: 40px;
	}
	#grow img{
		margin-right: 40px;
	}
	#myself img{
		margin-left: 20px;
		}
		
	/*页脚格式设置*/
	#footer{
	color:#FFF;
	text-align:center;
	width:100%;
	background-color:#333;
	float: left;
	height: 150px;
	padding-top:5px;
	margin-top: 20px;
}
	#footer a:link,#footer a:visited{
		text-decoration: none;
		color: rgba(255,255,255,1.00);
	}
	#footer a:hover{
		text-decoration: underline;
	}
	